rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // For local development allow open access
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
} 